/development/
/model_augmentation.egg-info/
__pycache__/
/build/

## ignore hidden files!
.*

# PDF files to ignore
SCRIPTS_GUIDE.md 1.pdf 
4.pdf 5.pdf
20250206_Kessels_hf.pdf  

# Ignore entire Industrial Robot benchmark folder (all files/subfolders)
/Robot Identification Benchmark/
