/development/
/build/
__pycache__/
*.egg-info/

# hidden/cache/editor
.vscode/
.pytest_cache/
.mypy_cache/

# docs/pdfs you want excluded
SCRIPTS_GUIDE.md
LPV_CONTEXT.MAP.txt
*.pdf
PLAN.md
*.png
*.json
*.pt
*.txt

# benchmark folder
literature/robot-benchmark-full/
literature Verification/
meeting-notes/

# data folder
/data/
/kamtin-fp-model/
/dmodel aug-wafer/
/kamtin-data/