/development/
/build/
__pycache__/
*.egg-info/

# hidden/cache/editor
.vscode/
.pytest_cache/
.mypy_cache/

# docs/pdfs you want excluded
SCRIPTS_GUIDE.md
1.pdf
4.pdf
5.pdf
20250206_Kessels_hf.pdf

# benchmark folder
/Robot Identification Benchmark/

# data folder
/data/